body {
  color: #333333;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  line-height: 1.6;
  margin: 0;
}
* {
  box-sizing: border-box;
}
*:after {
  box-sizing: border-box;
}
*:before {
  box-sizing: border-box;
}
.container {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
.intro {
  background-size: cover;
  background: url(../images/intro.jpg) center no-repeat;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100%;
}
.intro__inner {
  margin: 0 auto;
  max-width: 880px;
  text-align: center;
  width: 100%;
}
.intro__title {
  color: #ffffff;
  font-size: 150px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
}
.intro__title:after {
  background-color: #ffffff;
  content: "";
  display: block;
  height: 3px;
  margin: 60px auto 25px;
  width: 60px;
}
.intro__suptitle {
  color: #ffffff;
  font-family: 'Kaushan Script', cursive;
  font-size: 72px;
  margin-bottom: 20px;
  text-align: center;
}
.header {
  left: 0;
  padding-top: 30px;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.header__inner {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.header__logo {
  color: #ffffff;
  font-size: 30px;
  font-weight: 700;
}
.nav {
  font-size: 14px;
  text-transform: uppercase;
}
.nav__link {
  color: #ffffff;
  display: inline-block;
  margin: 0 15px;
  position: relative;
  text-decoration: none;
  transition: color .1s linear;
  vertical-align: top;
}
.nav__link:after {
  background-color: #fce38a;
  content: "";
  display: block;
  height: 3px;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 100%;
  transition: opacity .1s linear;
  width: 100%;
  z-index: 1;
}
.nav__link:hover {
  color: #fce38a;
}
.nav__link:hover after {
  color: #fce38a;
  opacity: 1;
}
.btn {
  border: 3px solid #ffffff;
  color: #ffffff;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  padding: 8px 30px;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: top;
}
.btn:hover {
  background-color: #e98484;
  transition: 0.5s;
}
.slider {
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
}
.slider__inner {
  display: flex;
  justify-content: space-between;
}
.slider_item {
  border-top: 3px solid #ffffff;
  color: #ffffff;
  font-size: 18px;
  opacity: 0.7;
  padding: 20px 0;
  position: relative;
  text-transform: uppercase;
  width: 23%;
}
.slider_item.active {
  opacity: 1;
}
.slider_item.active:before {
  background-color: #f38181;
  content: "";
  display: block;
  height: 3px;
  position: absolute;
  top: -3px;
  width: 70px;
  z-index: 1;
}
b {
  color: #ffffff;
  font-size: 24px;
}
